# .pre-commit-config.yaml

repos:
# --- Hook pour le formatage du code (TOUJOURS DÉSACTIVÉ) ---
# -   repo: https://github.com/psf/black
#     rev: 24.4.2
#     hooks:
#     -   id: black

# --- Hook pour le linting (RÉACTIVÉ ) ---
-   repo: https://github.com/pycqa/flake8
    rev: 7.1.0   # Version récente de flake8
    hooks:
    -   id: flake8
        # flake8 lira automatiquement notre fichier .flake8
        stages: [pre-commit, pre-push]

# --- Hook pour le typage statique (TOUJOURS ACTIF ) ---
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    -   id: mypy
        args: [--strict]
        additional_dependencies: [
            'types-flask',
        ]
        stages: [pre-commit, pre-push]
