# .pre-commit-config.yaml
repos:
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0  # Utilisez une version récente de mypy
    hooks:
    -   id: mypy
        # Mypy a besoin des dépendances de votre projet pour bien fonctionner.
        # Listez ici les paquets qui ont des annotations de type.
        additional_dependencies: [
            # Par exemple, si vous utilisez requests:
            # 'types-requests',
            # Si vous utilisez Django:
            # 'django-stubs'
        ]
